header{
    border: 3px solid red;
}
.strong_header{
    color: red;
}
section{
    border: 3px solid blue; 
}
.strong_section{
    color: blue;
}
footer{
    border: 3px solid green; 
}
.strong_footer{
    color: green;
}